<div id="content">
  <div class="item">
    <span class="text">
      <font color="#000">Your search-fu is weak.</font><br /><br />
      Your search for 'test' did not return any results.  Perhaps the following tips can help aid you on your quest:
      <ul>
        <li>Searches must be done using four or more characters.<br /><br />
          <li>MySQL/SQLite fulltext-searching is the magic behind this.  Stop blaming scott.<br /><br />
            <li>Try not to be such a fucking idiot.
      </ul>
    </span>
  </div>
</div>
